.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transition: 0.4s;
	border-radius: 1rem;
	border-color: var(--border);
	border-width: 1px;
}

.slider:before {
	position: absolute;
	content: "";
	height: 10px;
	width: 10px;
	border-radius: 50%;
	left: 4px;
	bottom: 2px;
	background-color: var(--foreground);
	transition: 0.4s;
}

input:checked + .slider:before {
	transform: translateX(12px);
}

input[type="text"],
input[type="url"],
input[type="color"],
input[type="checkbox"],
textarea,
select {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	background-color: transparent;
	border-color: var(--border);
	color: var(--muted-foreground);
}

input[type="text"],
input[type="url"],
textarea,
select {
	flex: 1 1 0%;
	border-radius: 1rem;
	padding: 0.5rem;
	font-size: 0.875rem;
	line-height: 1.25rem;
	height: 2rem;
}

input[type="color"],
input[type="checkbox"] {
	cursor: pointer;
	border-width: 1px;
	border-color: var(--border);
	border-radius: 50%;
	width: 2rem;
	height: 2rem;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
	border-radius: 100%;
}

input[type="checkbox"] {
	position: relative;
}
input[type="checkbox"]:checked {
	background-color: var(--primary);
	border-color: var(--primary);
}
input[type="checkbox"]:checked::before {
	content: "";
	position: absolute;
	width: 8px;
	height: 14px;
	border: solid white;
	border-width: 0 4px 4px 0;
	transform: rotate(45deg);
	top: 5px;
	left: 10px;
}

input[type="radio"] {
	cursor: pointer;
	background-color: transparent;
	border: 2px solid var(--muted);
	border-radius: 100%;
	width: 1.25rem;
	height: 1.25rem;
}
input[type="radio"]:checked {
	background-color: var(--primary);
	border-color: var(--primary);
}
input[type="radio"]:hover {
	border-color: var(--primary);
}
